<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataBaseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://47.240.12.27:10004/DataBaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataBaseService"
                contract="DataBaseService.IDataBaseService" name="BasicHttpBinding_IDataBaseService" />
        </client>
    </system.serviceModel>
</configuration>